/* Geral*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
    title-standard-h2-h3: "Shadows Into Light", sans-serif;
}

a {
    transition: .5s;
}

/* sidebar */
#sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    padding-top: 40px;
    background-color: #e5690e;
}

#sidebar h1 {
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

#sidebar a:hover {
    color: #000;
}

#sidebar li {
    padding: 10px;
    text-align: center;
}

#sidebar img {
    width: 250px;
    height: 220px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.content {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

.content h1, .content h2 {
    color: #e5690e;
    margin-bottom: 30px;
}

.content h1, h2 {
    font-size: 50px;
}

.content h3 {
    font-size: 38px;
}

.section {
    padding-left: 50px;
}

/* Home */
#ss-hm {
    padding-left: 0;
}

.ss-content {
    padding-left: 50px;
}

.ss-content h3 {
    margin-bottom: 30px;
    color: #e5690e;
}

#ss-hm .banner {
    height: 500px;
    background-image: url(../img/banner2.jpg);
    background-position: center;
    background-size: cover;
}

#ss-hm h2 {
    margin-top: 70px;
}

#ss-hm::after, #ss-mvv::after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 100px;
}

.ss-minibanner {
    width: 300px;
    height: 400px;
    background-image: url(../img/banner3.jpg);
    background-position: center;
    background-size: cover;
    float: left;
}

.ss-description {
    position: absolute;
    left: 370px;
    padding-right: 30px;
}

.ss-description p {
    line-height: 2;
    font-size: 16px;
    margin-bottom: 40px;
    margin-left: 25px;
}

.btn-ss, form input[type="submit"] {
    background-color: #e5690e;
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    transition: .5s;
    width: 150px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-ss:hover, form input[type="submit"]:hover {
    background-color: #f38a3f;
}

/* Seção Missão, Visão e Valores */
#ss-mvv .ss-minibanner {
    float: right;
    margin-right: 50px;
    background-image: url(../img/banner4.jpg);
}

#ss-mvv .ss-description {
    position: absolute;
    left: 25px;
    width: calc(100% - 400px);
}

/* Gallery */
.banner-gallery {
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 200px;
}

#ss-dc1,
#ss-dc2,
#ss-dc3,
#ss-dc4,
#ss-dc5 {
    padding-right: 50px;
    margin-bottom: 50px;
}

.dc1-imgs {
    width: 18.8%;
    margin-left: .5%;
    margin-right: .5%;
}

#img1 {
    background-image: url(../img/galeria1.jpg);
    margin-left: 0;
}

#img2 {
    background-image: url(../img/galeria2.jpg);
}

#img3 {
    background-image: url(../img/galeria3.jpg);
}

#img4 {
    background-image: url(../img/galeria4.jpg);
}

#img5 {
    background-image: url(../img/galeria5.jpg);
    margin-right: 0;
}

.dc2-imgs {
    width: 32.3%;
    margin-left: .5%;
    margin-right: .5%;
}

#img6 {
    background-image: url(../img/galeria6.jpg);
    margin-left: 0;
}

#img7 {
    background-image: url(../img/galeria7.jpg);
}

#img8 {
    background-image: url(../img/galeria8.jpg);
    margin-right: 0;
}

.dc3-imgs {
    width: 23.9%;
    margin-left: .5%;
    margin-right: .5%;
}

#img9 {
    background-image: url(../img/galeria9.jpg);
    margin-left: 0;
}

#img10 {
    background-image: url(../img/galeria10.jpg);
}

#img11 {
    background-image: url(../img/galeria11.jpg);
}

#img12 {
    background-image: url(../img/galeria12.jpg);
    margin-right: 0;
}

/* Contact */
#ss-ctt {
    width: 500px;
}

#ss-ctt input[type="text"], #ss-ctt input[type="email"], #ss-ctt textarea {
    display: block;
    border: 1px solid #e5690e;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
}

#ss-ctt input[type="text"]:focus, #ss-ctt input[type="email"]:focus, #ss-ctt textarea:focus {
    border-color: #f38a3f;
}

#ss-ctt input[type="submit"] {
    margin-left: 0;
    font-size: 19px;
    font-weight: bold;
    width: 180px;
}

/* Footer */
footer {
    height: 100px;
    padding-top: 120px;
    padding-bottom: 80px;
    color: #e5690e;
}

footer p {
    text-align: center;
    font-weight: bold;
}

/* about page */
