* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
    color-primary-white: #fff;
    color-primary-black: #000;
    color-primary-orange: #e5690e;
    title-standard-h2-h3: "Shadows Into Light", sans-serif;
}