/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
}

body {
    background-color: #000;
}

/* Containers */
#main-container {
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

#form-container {
    flex: 1 1 0;
    width: 50%;
}

/* Login Form */
#form-box {
    background-color: #000;
    border: 1px solid #777777;
    width: 350px;
    margin-left: 80%;
    margin-top: 20px;
}

#logo-insta {
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
}

#login-form {
    margin-top: 20px;
}

#login-form input {
    display: block;
    font-size: 13px;
    padding: 12px 9px;
    background-color: #000;
    border: 1px solid #777777;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}

#login-form input[type="submit"] {
    background-color: #0068AC;
    color: #fff;
    border-radius: 9px;
    height: 33px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
}

/* Separador */
.separator {
    position: relative;
}

.line {
    border-top: 1px solid #777777;
    width: 268px;
    margin: 25px auto 35px;
}

.separator span {
    position: absolute;
    text-transform: uppercase;
    color: #777777;
    background-color: #000;
    top: -6px;
    width: 50px;
    margin-left: -25px;
    font-size: 12px;
    font-weight: bold;
}

/* Facebook Login */
#facebook-login {
    margin-bottom: 25px;
}

#facebook-login a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facebook-login img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

#facebook-login span {
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
    color: #0095E6;
}

#facebook-login span:hover {
    color: #fff;
}

/* Forgot Password */
#forgot-password {
    margin-bottom: 20px;
    font-size: 12px;
}

#forgot-password a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

/* Register */
#register-container {
    border: 1px solid #777777;
    width: 350px;
    margin-top: 10px;
    padding: 28px;
    margin-left: 80%;
}

#register-container p {
    font: 14px;
    color: #fff;
}

#register-container a {
    color: #0095E6;
    font-weight: bold;
    text-decoration: none;
}

/* Get App */
#get-app-container {
    text-align: center;
    width: 350px;
    margin-left: 80%;
}

#get-app-container p {
    margin: 20px 0;
    font-size: 14px;
    color: #fff;
}

#get-app-container a {
    text-decoration: none;
}

#get-app-container img {
    width: 136px;
    height: 40px;
}

/* Footer */
footer {
    text-align: left;
    width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #footer-links {
    display: flex;
    list-style: none;
}

#footer-links li {
    margin-right: 20px;
}

#footer-links a,
#copyright {
    text-decoration: none;
    color: #777777;
    font-size: 12px;
}

#copyright {
    margin-top: 14px;
    color: #777777;
    font-size: 12px;
}